* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#nav {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
#nav a {
    color: white;
    text-decoration: none;
    padding: 20px;
    font-size: 18px;
}
.container {
    width: 90vw;
    max-width: 800px;
    margin: 48px auto;
}
img {
    width: 100%;
    object-fit: cover;
}
.intro {
    display: flex;
    align-items: center;
    gap: 48px;
}
.image-container,
.content {
    flex: 1;
}
.image-container img {
    height: 100%;
    border-radius: 24px;
}
.image-container {
    height: 300px;
}
.content h1 {
    color: rgb(255, 153, 0);
    font-size: 28px;
}
@media screen and (max-width:480px) {
    #nav {
        flex-direction: column;
    }
}
@media screen and (max-width:740px) and (min-width: 481px) {
    body {
        background-color: rgba(98, 20, 85, 0.778);
    }
    #nav {
        flex-direction: row;
        flex-wrap:  wrap;
    }
}