*{
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#navbar {
    display: flex;
    align-items: center;
    background-color: rgb(101, 6, 6);
}
#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}
#navbar #logo {
    font-size: 36px;
    font-weight: bold;
    margin-right: auto;
    padding-top: 13px;
    padding-bottom: 12px;
}
.dropdown-container {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    background-color: rgb(220, 146, 9);
    width: 200px;
    opacity: 0px;
    visibility: hidden;
    transform: translateY(-16px);
    transition: 
    opacity 0.5s,
    visibility 0.5s,
    transform 0.5s;
}
.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}
#navbar .dropdown-menu a:hover {
    color: black;
    background-color: transparent;
}
#navbar a:hover {
    background-color: blanchedalmond;
    color: black;
}
#navbar #logo:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.333);
}
.dropdown-container:hover i {
    transform: rotate(180deg);
}
.dropdown-container i {
    transition: transform 1s;
}