@import url("https://use.typekit.net/fla6hmx.css");
* {
    box-sizing: border-box;
}
body {
    font-family: "brother-1816", sans-serif;
    margin: 0px;
}
#navbar {
    height: 75px;
    background-color: #F3F3CF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#navbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 12px 24px;
    font-size: 17px;
    font-family: brother-1816-printed, sans-serif;
}
#navbar #logo img {
    width: 90px;
}
#hero {
    background-image: url("../images/hero.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .hero-content {
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 100px;
}
#hero h2 {
    font-size: 48px;
    margin-bottom: 72px;
}
#hero a {
    font-size: 17px;
    display: block;
    width: 200px;
    background-color: #ADBC38;
    color: #ffffff;
    text-decoration: none;
    padding: 18px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 36px;
    font-family: brother-1816-printed, sans-serif;
}
.single-column {
    min-width: 600px;
    max-width: 1200px;
    margin: 0px auto;
}
#main-section {
    background-color: #666633;
    padding: 24px;
}
.side-by-side {
    display: flex;
    align-items: center;
    margin: 48px 0px;
}
.side-by-side .image-container {
    flex: 1;
}
.side-by-side .text-container {
    flex: 1;
    padding: 85px;
    color: #F3F3CF;
}
.side-by-side p {
    color: black;
    margin-bottom: 100px;
    width: 350px;
}
.side-by-side .image-container img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 4px 4px 4px #0004;
}
.side-by-side .text-container h3 {
    font-size: 48px;
}
.side-by-side .text-container a {
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
    background-color: black;
    color: #F3F3CF;
    padding: 18px;
    border-radius: 48px;
    font-family: brother-1816-printed, sans-serif;
}
#footer {
    background-color: #F3F3CF;
    padding: 48px 0px;
}
#footer a {
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
#footer-columns-navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: 0px auto;
    gap: 72px;
    color: black;
    max-width: 800px;
    text-align: center;
}
.menu p {
    font-family: brother-1816-printed, sans-serif;
}

