/*
    Write your CSS for the assignment here.

    You shouldn't need to modify the HTML;
    however, you are allowed to. 
    
    Just be aware that you may break some
    of the setup.css styling if you do so.
*/
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
.card-style-1 {
    width: 350px;
    margin: 8px;
    background-color: rgb(211, 234, 211);
    text-align: left;
    margin: 16px;
    box-shadow: 2px 2px 12px rgb(0, 0, 0);
}
.card-style-1 img {
    width: 100%;
    display: block;
    object-fit: cover;
}
h2 {
    text-align: center;
    padding: 0px 24px;
}
a {
    color: rgb(255, 255, 255);
    background-color: rgb(11, 121, 11);
    text-decoration: none;
    display: inline-block;
    width: 100%;
    padding: 24px;
    text-align: center;
    font-size: 18px;
}
p {
    padding: 0px 24px;
}
.card-style-1 a:hover {
    background-color: rgba(0, 128, 0, 0.516);
    border: 3px solid darkgreen;
    color: rgba(59, 57, 57, 0.655);
    transition: 0.5s;
}

