*{ 
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#gallery1 .cards {
    border: 2px solid black;
    text-align: center;
    padding: 24px;
    gap: 24px;
    margin: 0px 24px;
}