* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
#hero-1 {
    background-image: url("../images/urban-hi-res-1ui7.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}
.hero-content {
    font-size: 48px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.63);
    padding: 36px;
}
.hero-content a {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: #f9f7ff;
    padding: 12px;
    text-decoration: none;
    box-shadow: 1px 2px 20px rgb(4, 88, 94);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
}
.vertical-mansory-gallery {
    columns: 3 auto;
    column-gap: 18px;
    margin-bottom: 72px;
}
.vertical-mansory-gallery img {
    width: 100%;
    margin-bottom: 24px;
}
#card-section {
    width: 100vw;
    max-width: 700px;
    margin: 48px auto;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}
.cards {
    width: 250px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 2px;
    padding: 36px;
    box-shadow: -5px 5px 15px rgba(65, 64, 64, 0.603) ;
    text-align: center;
    background-color: #82BF78;
}
.cards h2 {
    font-size: 24px;
    margin-top: 12px;
}
.cards a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 17px;
    background-color: #2F1B59;
    padding: 12px;
    display: inline-block;
    border-radius: 18px;
    text-decoration: none;
    width: 100%;
    box-shadow: 1px 2px 20px rgb(0, 0, 0);
}
.cards:hover a {
    background-color: #B091F2;
    color: black;
    transition: 
    background-color 0.5s;
}



