/* Drill 1 - Write your code solution below */
#container-d1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Drill 2 - Write your code solution below */
#container-d2 {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}


/* Drill 3 - Write your code solution below */
#container-d3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Drill 4 - Write your code solution below */
#container-d4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "c1 c2 c3";
}
#d4-c1 { 
    grid-area: c1;
}
#d4-c2 {
    grid-area: c2;
}
#d4-c3 {
    grid-area: c3;
}
/* Drill 5 - Write your code solution below */


/* Drill 6 - Write your code solution below */

